.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("Artboard 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.box2 {
  position: absolute;
  top: 350px;
  left: 480px;
  width: 150px;
  height: 300px;
  background-image: url("Artboard 2.png");
  animation-name: animationA;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
.box3 {
  position: absolute;
  top: 350px;
  left: 650px;
  width: 150px;
  height: 300px;
  background-image: url("Artboard 3.png");
  background-color: rgb(80,0,190);
  
}
.box4 {
  position: absolute;
  top: 350px;
  left: 815px;
  width: 150px;
  height: 300px;
  background-image: url("Artboard 4.png");
  
  
}
.box5 {
  position: absolute;
   top: 350px;
  left: 985px;
  width: 150px;
  height: 300px;
  background-image: url("Artboard 5.png");
  background-color: rgb(220,220,20);
  
}

.button {
  position: absolute;
  top: 500px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  border-radius: 25px;
  background-color: rgb(20,20,20);
  color: white;
  font-family: Helvetica;
  text-align: center;
}



.box.alarm {
  background-color: rgb(230, 18, 34);
}

@keyframes animationA {
  0% {
    background-color: rgb(20, 160, 200);
  }
  100% {
    background-color: rgb(255, 2550, 255);
  }
}
